[Desktop Entry]
Name=Obsidian
Comment=Markdown note taking
GenericName=Notes
Exec=/home/seb/.local/bin/obsidian.AppImage --enable-features=UseOzonePlatform --ozone-platform-hint=auto
Type=Application
Icon=gdnote
Categories=Office;
StartupNotify=true
MimeType=x-scheme-handler/obsidian;
